<div class="flex flex-col">
  <form class="flex flex-col" [formGroup]="inputForm">
    <h2 class="text-center font-semibold text-xl">{{ title }}</h2>
    <div class="mb-3 mt-8 text-center">
      <label for="exampleFormControlInput1" class="form-label"
        >New Todo Title</label
      >
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Todo Title..."
      />
    </div>
    <div class="mb-3 flex-grow text-center">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Todo Description</label
      >
      <textarea
        formControlName="description"
        class="form-control no-border flex-grow"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Description...."
      ></textarea>
    </div>
    <Button
      (click)="onSubmitForm()"
      routerLink="/list"
      type="submit"
      class="rounded-full bg-gradient-to-tr from-indigo-400 via-indigo-400 to-pink-400 font-semibold drop-shadow-xl shadow-xl hover:text-white py-1"
    >
      {{ buttonTitle }}
    </Button>
  </form>
</div>
