<div class="flex flex-col">
    <div class="flex flex-col justify-center mt-4">
        <div class="flex justify-center">
            <i><img class="w-[40px] h-[40px]" src="../../../../assets/task.png" alt=""></i>
        </div>
        <h2 class="font-semibold text-lg">TaskTracker</h2>

    </div>
    <ul>
        <li class="mt-4">
            <button routerLink="/create" routerLinkActive="router-link-active"  class="text-center text-white py-1 px-1 font-semibold rounded-xl w-full h-full bg-gradient-to-tr from-indigo-400 via-indigo-400 to-pink-400 hover:from-indigo-400 hover:via-pink-400 hover:to-pink-400 hover:shadow-lg">
                Create
            </button>
        </li>
        <li class="mt-4">
            <button routerLink="/list" class="text-center text-white py-1 px-1 font-semibold rounded-xl w-full h-full bg-gradient-to-tr from-indigo-400 via-indigo-400 to-pink-400 hover:from-indigo-400 hover:via-pink-400 hover:to-pink-400 hover:shadow-lg">
                List
            </button>
        </li>
        <li class="mt-4">
            <button routerLink="/completed" class="text-center text-white py-1 px-1 font-semibold rounded-xl w-full h-full bg-gradient-to-tr from-indigo-400 via-indigo-400 to-pink-400 hover:from-indigo-400 hover:via-pink-400 hover:to-pink-400 hover:shadow-lg">
                Completed
            </button>
        </li>
    </ul>
</div>
